[Desktop Entry]
Categories=Development;IDE;
Exec=idea
GenericName=Capable and Ergonomic IDE for the Java Virtual Machine
Icon=com.jetbrains.IntelliJ-IDEA-Ultimate
Keywords=development;idea;ide;intellij;java;
Name=IntelliJ IDEA Ultimate
StartupNotify=true
StartupWMClass=jetbrains-idea
Terminal=false
Type=Application
